.avatar-editor-container {
    z-index: 100;
    width: 100%;
    height: 75%;
}

.avatar-editor-header {
    margin: 35px auto 0 auto;
    width: 80%;
    background: #FFCF00;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 5px;
    box-shadow: 0 0 3px #FFCF00;
}

.avatar-editor-header div {
    border-radius: 50%;
}

.avatar-editor-header span {
    border-radius: 50%;
    color: #FFFFFF;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
    transition: transform 175ms ease-in-out;
    transform: translateY(-5px);
}

.avatar-editor-header div:nth-child(1) {
    background: linear-gradient(180deg, #3a4046 0%, #626e7a 100%);
}

.avatar-editor-header div:nth-child(1) span {
    background: linear-gradient(180deg, #3a4046 0%, #626e7a 100%);
}

.avatar-editor-header div:nth-child(2) {
    background: linear-gradient(180deg, #006AAD 0%, #007BC0 100%);
}

.avatar-editor-header div:nth-child(2) span {
    background: linear-gradient(180deg, #006AAD 0%, #007BC0 100%);
}

.avatar-editor-header div:nth-child(3) {
    background: linear-gradient(180deg, #00744B 0%, #008746 100%);
}

.avatar-editor-header div:nth-child(3) span {
    background: linear-gradient(180deg, #00744B 0%, #008746 100%);
}

.avatar-editor-header div:nth-child(4) {
    background: linear-gradient(180deg, #B6264D 0%, #E32648 100%);
}

.avatar-editor-header div:nth-child(4) span {
    background: linear-gradient(180deg, #B6264D 0%, #E32648 100%);
}

.avatar-editor-header span:hover {
    transform: translateY(-7px);
    will-change: transform;
}

.avatar-editor-header span:active {
    transform: translateY(-3px);
}

.avatar-editor-header svg {
    width: 20px;
}

.avatar-editor-content {
    padding: 8px 5px;
    margin: auto;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 6px #FFFFFF;
    height: 66%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: #222f3b;
}

.avatar-editor-title {
    margin: 20px;
}

.avatar-editor-sub-content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.avatar-editor-clickable {
    cursor: pointer;
    width: 62px;
    height: 62px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.78);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3ms ease-in-out, box-shadow 0.3ms ease-in-out;
}

.avatar-editor-clickable:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.78);
}

.avatar-editor-clickable span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-editor-clickable-min {
    width: 62px;
    height: 32px;
}


.avatar-editor-clickable-max {
    width: 80px;
    height: 110px;
}

.avatar-editor-color-container {
    display: flex;
    align-items: center;
}

.avatar-editor-color-container:last-child {
    margin-bottom: 25px;
}

.avatar-editor-color {
    margin: 15px 0 0 25px;
    min-height: 25px;
    max-height: 25px;
}