.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-help-icon {
    position: relative;
    cursor: pointer;
}

.footer-help-icon svg {
    width: 30px;
}

.footer-help-popover {
    display: none;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 35px;
    padding: 20px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    color: black;
    overflow-y: auto;
    cursor: auto;
}

.footer-popover-help-icon svg {
    cursor: pointer;
    width: 25px;
    float: right;
}

.footer-help-popover-title {
    font-size: 1.25rem;
}

.footer-help-popover-sub-title {
    margin: 12px 0 8px 0;
    font-size: 1rem;
}

.footer-help-popover-control {
    display: flex;
    margin-top: 6px;
}

.footer-help-popover-control p:first-child {
    font-size: .85rem;
    font-weight: 600;
}

.footer-help-popover-control p:nth-child(2) {
    margin-left: 6px;
    font-size: .9rem;
}