.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.header-left {
    display: flex;
    align-items: end;
    height: 85px;
}

.header-logo {
    width: 6rem;
    height: 3.4rem;
}

.header-current-world-name {
    margin-left: 10px;
    font-weight: 500;
    font-size: .92rem;
}

.header-right {

}

.header-close-world-icon {
    cursor: pointer;
}

.header-close-world-icon svg {
    width: 25px;
}