.start-menu-container {
    z-index: 100;
    background: #5384DA;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.explorer-container {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.explorer-content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-select {
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}

.explorer-select-option {
}

.explorer-button {
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 968px) {

    .start-menu-container {
        width: 50%;
        top: 0;
        height: 100%;
        right: 0;
        flex-direction: column;
    }

    .explorer-container {
        height: 40%;
    }

}