.start-menu-container {
    z-index: 100;
    box-sizing: border-box;
    background-image: url(../../../../public/images/start-menu/bg.jpg);
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 0 30px #03375d;
    overflow-y: auto;
}

.explorer-container {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.explorer-content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-select {
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}

.explorer-select-option {
}

.explorer-button {
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.5ms ease-in-out, box-shadow 0.5ms ease-in-out;
}

.explorer-button:hover {
    box-shadow: inset 0 0 0 1px #FFFFFF;
}

.explorer-switch-msg {
    margin-top: 20px;
    font-size: 1.05rem;
}

@media (min-width: 968px) {

    .start-menu-container {
        width: 50%;
        top: 0;
        height: 100%;
        right: 0;
        flex-direction: column;
    }

    .explorer-container {
        height: 40%;
    }

}