* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    overflow: hidden;
    background: rgba(3, 2, 0, 0.8);
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}